<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- for map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%# top画面のcss %>
    <%= stylesheet_link_tag "pages", "data-turbo-track": "reload" if controller_name == "pages" %>
   
    <%# 富岡マップのcss %>
    <%= stylesheet_link_tag "maps", "data-turbo-track": "reload" if controller_name == "maps" %>
    <%# 富岡マップのCND %>
    <% if controller_name == "maps" %>
        <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <% end %>

    <%# ごみカレンダーのcss %>
    <%= stylesheet_link_tag "trash_calendar", "data-turbo-track": "reload" if controller_name == "trash_calendar" %>
    <%# イベントカレンダーのcss %>
    <%= stylesheet_link_tag "city_event_calendar", "data-turbo-track": "reload" if controller_name == "city_event_calendar" %>

    <%# ごみカレンダーかイベントカレンダならばカレンダーCDNを読み込む%>
    <% if controller_name == "trash_calendar" || controller_name == "city_event_calendar" %>
      <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/ja.js"></script>
      <script>dayjs.locale("ja") </script> 
    <% end %>
    
    <%# 富岡の賢者 %>
    <%= stylesheet_link_tag "complaints", "data-turbo-track": "reload" if controller_name == "complaints" %>
    <%# おすすめ掲示板アプリのcss %>
    <%= stylesheet_link_tag "recommendations", "data-turbo-track": "reload" if controller_name == "recommendations" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# 共有ヘッダー %>
    <% unless controller_name == "pages" && action_name == "top" %>
      <% if is_app_header? %>
        <%= render "shared/#{app_header_template}", title: app_header_title %>
      <% else %>
        <%= render "shared/header", title: app_header_title %>
      <% end %>
    <% end %>

    <%# 中身 %>
    <%= yield %>
    
    <%# 共有フッター %>
    <% if controller_name == "pages" || controller_name == "maps"%> 
      <%= render "shared/footer" %>
    <% end %>

    <!-- Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
